<form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
  <div
    *ngIf="submissionStatus === status.FAIL"
    class="alert alert-danger"
    role="alert"
  >
    <strong>Failed to Send Communication.</strong><br />
    If the problem persists, please give us a call or e-mail us.
  </div>
  <div
    *ngIf="submissionStatus === status.SUCCESS"
    class="alert alert-success"
    role="alert"
  >
    <strong>Success!</strong><br />
    We've recieved your submission and will get back to you as soon as we can.
  </div>
  <div class="form-group">
    <label for="contactNameInput">Contact Name:</label>
    <input
      type="text"
      class="form-control"
      id="contactNameInput"
      placeholder="John Doe"
      formControlName="name"
      required
      (focusout)="formatName()"
    />
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone Number:</label>
    <input
      type="text"
      class="form-control"
      id="phoneInput"
      placeholder="(555) 555-5555"
      aria-describedby="phoneHelp"
      formControlName="phone"
      (focusout)="formatPhoneNumber()"
    />
    <small id="phoneHelp" class="form-text text-muted"
      >We'll use this to contact you during the day or evening.</small
    >
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="daytime"
      checked
      formControlName="daytime"
    />
    <label class="form-check-label" for="daytime">Daytime</label>
    <input
      type="checkbox"
      class="form-check-input"
      id="evening"
      formControlName="evening"
    />
    <label class="form-check-label" for="evening">Evening</label>
  </div>
  <div class="form-group">
    <label for="addressInput">Project Address</label>
    <input
      type="text"
      class="form-control"
      id="addressInput"
      placeholder="1 Main Street Cheshire, CT 06410"
      formControlName="address"
      aria-describedby="addressHelp"
    />
    <small id="addressHelp" class="form-text text-muted"
      >This field is optional</small
    >
  </div>
  <div class="form-group">
    <label for="projectDesc">Description of Project</label>
    <textarea
      class="form-control"
      id="projectDesc"
      rows="3"
      placeholder="I need a fence to be painted."
      formControlName="description"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-submit btn-block"
    [disabled]="isDisabled()"
  >
    <span *ngIf="submissionStatus !== status.PENDING; else spinner"
      >Submit</span
    >
  </button>
</form>
<ng-template #spinner>
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
