<app-nav-bar></app-nav-bar>
<main class="container">
  <div class="slogan-container text-center">
    <h1>{{ title }}</h1>
    <h2 class="slogan">{{ slogan | titlecase }}</h2>
  </div>
  <app-carousel></app-carousel>
  <!-- MISSION STATEMENT -->
  <h5 class="mission text-center">
    "Our Mission is to be the industry leader in Connecticut; not only meeting
    our client's expectations, but to exceed them.""
  </h5>
  <!-- CONTENT -->
  <p>
    We are a Home Improvement company serving all of Connecticut, with over 30
    years of experience in the home improvement industry. We specialize in the
    following areas:
  </p>
  <div class="specialize row mt-3 font-weight-bold">
    <div class="col-sm-4 col-6">
      <ul>
        <li>Painting</li>
        <li>Tile</li>
        <li>Carpentry</li>
        <li><span class="d-none d-sm-inline">Laminate</span> Flooring</li>
        <div class="d-block d-sm-none">
          <li>Windows & Doors</li>
          <li>Plumbing</li>
        </div>
      </ul>
    </div>
    <div class="col-sm-4 col-6">
      <ul>
        <li>Kitchen <span class="d-none d-md-inline">Remodels</span></li>
        <li>Bathroom <span class="d-none d-md-inline">Remodels</span></li>
        <li>Countertops</li>
        <li>Electrical</li>
        <div class="d-block d-sm-none">
          <li>Fire & Water Restoration</li>
          <li>Basements</li>
        </div>
      </ul>
    </div>
    <div class="col-sm-4 col-6 d-none d-sm-inline-block">
      <ul>
        <li>Windows & Doors</li>
        <li>Plumbing</li>
        <li>Fire & Water Restoration</li>
        <li>Basements</li>
      </ul>
    </div>
  </div>
  <!-- END OF CONTENT -->
  <app-gallery></app-gallery>
</main>
<app-footer></app-footer>
<app-contact-modal></app-contact-modal>
