<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand d-sm-block d-lg-none" href="#">All Aspects</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button
      class="btn btn-contact-us my-0 d-lg-none d-inline-block"
      data-toggle="modal"
      data-target="#contact-modal"
      type="button"
    >
      Contact Us
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
      </ul>
      <button
        class="btn btn-contact-us my-2 my-sm-0 d-none d-md-block"
        data-toggle="modal"
        data-target="#contact-modal"
        type="button"
      >
        Contact Us
      </button>
      <button
        class="btn btn-contact-us btn-block my-2 my-sm-0 d-md-none"
        data-toggle="modal"
        data-target="#contact-modal"
        type="button"
      >
        Contact Us
      </button>
    </div>
  </div>
</nav>
