@use '../../../assets/styles/variables/colors' as color;

.navbar {
  .navbar-toggler {
    padding-right: 0;
    border: 0;

    &:active,
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &.bg-dark {
    .navbar-brand {
      color: #fff;
    }
  }

  &.bg-light {
    .navbar-brand {
      color: #222;
    }
  }

  .navbar-brand {
    font-weight: bold;
  }
}

.btn-contact-us {
  color: white;
  background: color.$theme;
  transition: all 0.25s ease;

  &:hover,
  &:active {
    color: white;
    background: darken(color.$theme, 8);
  }
}
