/* You can add global styles to this file, and also import other style files */
body {
  // this is the size of the navigation bar
  margin-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

h2 {
  font-size: 1.6rem;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}
